body{
  background-color: #dcd9e1;
}

.register-container {
    max-width: 975px;
    margin: 150px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .register-container h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .register-container form div {
    margin-bottom: 15px;
  }
  
  .register-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .register-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-container button {
    width: 100%;
    padding: 10px;
    background-color: #74a201 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-container button:hover {
    background-color: green;
  }
  